.main {
    font-family: Helvetica;
    color: blue;
}
body {
    background-image:url("https://www.google.com/search?q=innovate+birmingham&rlz=1C5CHFA_enUS748US748&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjbnoKfovbaAhVC11MKHRTtBCAQ_AUICigB&biw=1065&bih=837#imgrc=jDk67IMnnKuoWM:");
    width: 100%;
}